<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Competition</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/ext-all-debug.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/theme-neptune.js"></script>
    <script type="text/javascript">
        var compId = "[[${competitionId}]]";
        Ext.onReady(function(){
            //var cid = JSON.parse(compId);
            //var compId = Ext.urlDecode(window.location.search.substring(0)).compId;
            Ext.Ajax.request({
                url: '/competition/' + compId,
                method: 'GET',
                dataType: 'json',
                success: function (data, status) {
                    var comp = Ext.util.JSON.decode(data.responseText);
                    console.log(comp);
                    init(comp);
                    alert("Success");
                },
                failure: function (data, status) {
                    console.log(data);
                    switch(data.status){
                        case 400:
                        case 404:
                            alert("Invalid Competition id: " + compId);
                            break;
                        default:
                            alert(data.responseText);
                    }
                }
            });

            var compNameLabel = Ext.create('Ext.form.Label', {
                text: ""
            });

            Ext.create('Ext.panel.Panel', {
                renderTo: Ext.getBody(),
                width: 1000,
                height:500,
                layout: 'border',
                items: [
                    compNameLabel
                ]
            }).center();

            var init = function (comp) {
                compNameLabel.setText(comp.name);
            }
        });
    </script>
</head>
<body>
    <div id="maindiv" style="height: 500px"/>
</body>
</html>