<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Favourites</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/resources/theme-neptune-all.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/ext-all-debug.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/theme-neptune.js"></script>
    <script type="text/javascript">
        var favStr = "[[${favourites}]]";
        Ext.onReady(function(){
            try{
                var favourites = JSON.parse(favStr.replace(/&quot;/g,'"'));
                console.log(favourites);

                var compStore = Ext.create('Ext.data.Store', {
                    fields : ['name'],
                    proxy  : {
                        type   : 'memory',
                        reader : {
                            type : 'json',
                            rootProperty : 'items'
                        }
                    }
                });

                var teamStore = Ext.create('Ext.data.Store', {
                    fields : ['name'],
                    proxy  : {
                        type   : 'memory',
                        reader : {
                            type : 'json',
                            rootProperty : 'items'
                        }
                    }
                });

                Ext.define('MyApp.view.CompetitionGridPanel', {
                    extend: 'Ext.grid.Panel',
                    height: 315,
                    width: 784,
                    title: 'Competitions',
                    store: compStore,

                    columns: [  {
                        text: 'Name',
                        width: 100,
                        sortable: false,
                        hideable: false,
                        dataIndex: 'name'
                    }],
                    plugins: [{
                        ptype: 'cellediting',
                        autoCancel: false,
                        clicksToEdit: 1
                    }],
                    viewConfig : {
                        listeners : {
                            itemdblclick : function(view, cell, cellIndex, record, row, rowIndex, e) {
                                window.location.assign("/competition/byId/"+cell.data.id);
                            }
                        }
                    }
                });

                var compGrid = Ext.create('MyApp.view.CompetitionGridPanel', {
                    renderTo: Ext.getBody()
                });

                Ext.define('MyApp.view.TeamGridPanel', {
                    extend: 'Ext.grid.Panel',
                    height: 315,
                    width: 784,
                    title: 'Teams',
                    store: teamStore,

                    columns: [  {
                        text: 'Name',
                        width: 100,
                        sortable: false,
                        hideable: false,
                        dataIndex: 'name'
                    }],
                    plugins: [{
                        ptype: 'cellediting',
                        autoCancel: false,
                        clicksToEdit: 1
                    }],
                    viewConfig : {
                        listeners : {
                            itemdblclick : function(view, cell, cellIndex, record, row, rowIndex, e) {
                                window.location.assign("/team/byId/"+cell.data.id);
                            }
                        }
                    }
                });

                var teamGrid = Ext.create('MyApp.view.TeamGridPanel', {
                    renderTo: Ext.getBody()
                });

                for(var i = 0; i<favourites.competitions.length; i++){
                    compStore.add({id: favourites.competitions[i].compId, name: favourites.competitions[i].name });
                }

                for(var j = 0; j<favourites.teams.length; j++){
                    var r = {id: favourites.teams[j].teamId, name: favourites.teams[j].name};
                    console.log(r);
                    teamStore.add(r);
                }

                var homeButton = Ext.create('Ext.button.Button', {
                    text: 'Home',
                    handler: function () {
                        window.location.assign("/home");
                    }
                });

                Ext.create('Ext.panel.Panel', {
                    renderTo: Ext.getBody(),
                    width: 1000,
                    height: 800,
                    layout: {
                        type: 'vbox',
                        padding: 5
                    },

                    items: [
                        compGrid,
                        teamGrid
                    ],
                    buttons: [
                        homeButton
                    ]
                });
            } catch(e){
                alert("Invalid favourite");
                alert(e);
            }
        });
    </script>
</head>
<body>
    <div id="maindiv" style="height: 500px"/>
</body>
</html>