<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/resources/theme-neptune-all.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/ext-all-debug.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/theme-neptune.js"></script>
    <script type="text/javascript">
        Ext.onReady(function(){
            var usernameText = Ext.create('Ext.form.TextField', {
                fieldLabel: 'Username',
                allowBlank: false
            });
            var pswText = Ext.create('Ext.form.TextField', {
                fieldLabel: 'Password',
                inputType: 'password'
            });
            var cancelButton = Ext.create('Ext.button.Button', {
                text: 'Cancel',
                handler: function() {
                    window.location.assign("/home");
                }
            });
            var submitButton = Ext.create('Ext.button.Button', {
                text: 'Submit',
                handler: function() {
                    Ext.Ajax.request({
                        url: '/user/new',
                        method: 'POST',
                        jsonData: {
                            username: usernameText.getValue(),
                            password: pswText.getValue()
                        },
                        success: function (form, action) {
                            window.location.assign("/home");
                        },
                        failure: function (form, action) {
                            alert(form.responseText);
                        }
                    });
                }
            });

            Ext.create('Ext.panel.Panel', {
                renderTo: Ext.getBody(),
                width: 1000,
                height:500,
                layout: {
                    type: 'vbox',
                    padding: 5
                },
                items: [
                    usernameText,
                    pswText
                ],
                buttons: [
                    cancelButton,
                    submitButton
                ]
            });
        });
    </script>
</head>
<body>
    <div id="maindiv" style="height: 500px"/>
</body>
</html>