<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Competition</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/resources/theme-neptune-all.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/ext-all-debug.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/theme-neptune.js"></script>
    <script type="text/javascript">
        var teamStr = "[[${team}]]";
        Ext.onReady(function(){
            try{
                var team = JSON.parse(teamStr.replace(/&quot;/g,'"'));

                var compStore = Ext.create('Ext.data.Store', {
                    fields : ['name'],
                    proxy  : {
                        type   : 'memory',
                        reader : {
                            type : 'json',
                            rootProperty : 'items'
                        }
                    }
                });

                var playedMatchesStore = Ext.create('Ext.data.Store', {
                    fields : ['hteam','hgoals','agoals','ateam'],
                    proxy  : {
                        type   : 'memory',
                        reader : {
                            type : 'json',
                            rootProperty : 'items'
                        }
                    }
                });

                var nextMatchesStore = Ext.create('Ext.data.Store', {
                    fields : ['hteam','hgoals','agoals','ateam'],
                    proxy  : {
                        type   : 'memory',
                        reader : {
                            type : 'json',
                            rootProperty : 'items'
                        }
                    }
                });

                var teamNameLabel = Ext.create('Ext.form.Label', {
                    text: team.name
                });

                Ext.define('MyApp.view.CompetitionPanel', {
                    extend: 'Ext.grid.Panel',
                    height: 300,
                    width: 784,
                    title: 'Competitions',
                    store: compStore,

                    columns: [  {
                        text: 'Name',
                        width: 100,
                        sortable: false,
                        hideable: false,
                        dataIndex: 'name'
                    }],
                    plugins: [{
                        ptype: 'cellediting',
                        autoCancel: false,
                        clicksToEdit: 1
                    }],
                    viewConfig : {
                        listeners : {
                            itemdblclick : function(view, cell, cellIndex, record, row, rowIndex, e) {
                                console.log(cell);
                                window.location.assign("/competition/byId/"+cell.data.id);
                            }
                        }
                    }
                });

                var compGrid = Ext.create('MyApp.view.CompetitionPanel', {
                    renderTo: Ext.getBody()
                });

                Ext.define('MyApp.view.PlayedMatchesPanel', {
                    extend: 'Ext.grid.Panel',
                    height: 300,
                    width: 1000,
                    title: 'Matches',
                    store: playedMatchesStore,

                    columns: [  {
                        text: 'Home Team',
                        width: 100,
                        sortable: false,
                        hideable: false,
                        dataIndex: 'hteam'
                    },{
                        text: 'Home Goals',
                        width: 100,
                        sortable: false,
                        hideable: false,
                        dataIndex: 'hgoals'
                    },{
                        text: 'Away Goals',
                        width: 100,
                        sortable: false,
                        hideable: false,
                        dataIndex: 'agoals'
                    },{
                        text: 'Away Team',
                        width: 100,
                        sortable: false,
                        hideable: false,
                        dataIndex: 'ateam'
                    }],
                    viewConfig : {
                        listeners : {
                            itemdblclick : function(view, cell, cellIndex, record, row, rowIndex, e) {
                                window.location.assign("/match/editMatch/"+cell.data.id);
                            }
                        }
                    }
                });

                var playedMatchesGrid = Ext.create('MyApp.view.PlayedMatchesPanel', {
                    title: 'Played Matches',
                    store: playedMatchesStore
                });

                var nextMatchesGrid = Ext.create('MyApp.view.PlayedMatchesPanel', {
                    title: 'Next Matches',
                    store: nextMatchesStore
                });

                for(var i = 0; i<team.competitions.length; i++){
                    compStore.add({id: team.competitions[i].compId, name: team.competitions[i].name});
                }

                for(var j = 0; j<team.matches.length; j++){
                    var record = {id: team.matches[j].matchId, hteam: team.matches[j].homeTeam.name, hgoals: team.matches[j].homeGoals,
                        agoals: team.matches[j].awayGoals, ateam: team.matches[j].awayTeam.name};

                    if(team.matches[j].wasPlayed){
                        playedMatchesStore.add(record);
                    }else{
                        nextMatchesStore.add(record);
                    }
                }

                var homeButton = Ext.create('Ext.button.Button', {
                    text: 'Home',
                    handler: function () {
                        window.location.assign("/home");
                    }
                });

                var favButton = Ext.create('Ext.button.Button', {
                    text: 'Add to Favourites',
                    handler: function () {
                        Ext.Ajax.request({
                            url: '/team/addToFavourite/' + team.teamId,
                            method: 'POST',
                                success: function (form, action) {
                            },
                            failure: function (form, action) {
                                alert(form.responseText);
                            }
                        });
                    }
                });

                Ext.Ajax.request({
                    url: '/user/isLoggedIn',
                    method: 'GET',
                    success: function (form, action) {
                        var loggedIn = Ext.JSON.decode(form.responseText);
                        if(!loggedIn){
                            favButton.hide();
                        }
                    },
                    failure: function (form, action) {
                        alert(form.responseText);
                    }
                });

                Ext.create('Ext.panel.Panel', {
                    renderTo: Ext.getBody(),
                    width: 1000,
                    height: 1000,
                    layout: {
                        type: 'vbox',
                        padding: 5
                    },
                    items: [
                        teamNameLabel,
                        compGrid,
                        playedMatchesGrid,
                        nextMatchesGrid
                    ],
                    buttons: [
                        favButton,
                        homeButton
                    ]
                });
            } catch(e){
                alert("Internal error")
            }
        });
    </script>
</head>
<body>
<div id="maindiv" style="height: 500px"/>
</body>
</html>